.home-contain {
  display: flex;
  flex-direction: row;
  .home-left {
    width: 220px;
    padding: 0 10px;
    height: 80vh;
    border: 1px solid #e0e0e0;
    overflow: auto;
  }
  .right-contain {
    flex: 1;
  }
  .left-contain {
    width: 200px;
  }
}
